@import url('https://fonts.googleapis.com/css?family=Ubuntu+Condensed');

@import url('https://fonts.googleapis.com/css?family=Lato|Roboto');

@import url('https://fonts.googleapis.com/css?family=Didact+Gothic');

@import url('https://fonts.googleapis.com/css?family=Alegreya');
