#header-desktop {
  font-family: sans-serif;
  position: fixed;
  width: 100%;
  height: 90px;
  top: 0;
  left: 0;
  background-color: #FFFFFF;
  border-bottom: 3px solid rgba(0,0,0,0.4);
  -webkit-transition: height 0.3s;
  display: none;
  @media(min-width: 1024px) {
      display: block;
  }

  .header-container {
    width: 80%;
    margin: 0 auto;
    background: #FFFFFF;
    height: 90px;
    -webkit-transition: all 0.3s;
    @include flex_trinity(row, space-between);
  }

  .brand {
    margin-top: 0;
    width: 10%;
    line-height: 120px;
    -webkit-transition: all 0.3s;
    img{
        width: 100%;
        height: auto;
    }
  }



  .flexsearch-box{
    width: 15%;
    position: absolute;
    right: 10%;
    top: 90px;
    height: 70px;
    font-family: 'Didact Gothic', sans-serif;


    .flexsearch{
          width: 100%;
          height: 80px;
          .flexsearch--input-wrapper{
              height: 35px;
              .flexsearch--input{
                  width: 100%;
                  height: 40px;
                  box-sizing: border-box;
                  border-width: 1px;
                  border-style: solid;
                  outline: 0;
                  font-family: inherit;

                  &:focus{
                      border: 1px solid #66757F;
                  }
              }

          }

          .flexsearch--submit{
              width: 100%;
              height: 40px;
              background: #FFFFFF;
              color: #66757F;
              text-transform: uppercase;
              box-sizing: border-box;
              border-width: 1px;
              border-style: solid;
              outline: 0;
              font-family: inherit;
              font-size: 1.2em;
          }
    }

  }

  nav {

    position: relative;
    line-height: 90px;
    -webkit-transition: all 0.3s;
    width: 80%;
    font-family: 'Alegreya', serif;



    ul{
        @include flex_trinity(row, flex-end);


        li{
            padding: 0 20px;

            .fa-search, .fa-search-minus{
                color: #66757F;
                padding-left: 10px;
            }

            .drop-down{
                  position:$abs;
                  padding:0;
                  display:none;
                  margin:0;
                  right: 50;
                  z-index:0;

                  li{
                      position:$rel;
                      float:none;
                      background: #FFFFFF;
                      border-bottom: 3px solid rgba(0,0,0,0.4);
                      border-right: 3px solid rgba(0,0,0,0.4);
                      border-left: 3px solid rgba(0,0,0,0.4);

                      &:first-child{
                          border-top: 3px solid rgba(0,0,0,0.4);
                      }

                      a{
                          border-top:none;
                          width:150px;
                          &:hover{
                              color:$header-bg;
                          }
                      }
                  }
                  li:nth-of-type(1) a{
                      border-top:none;
                  }
            }

            .accent{
                width:0%;
                height:100%;
                position:$abs;
                top:0;
                left:0;
                @include transition;
            }

            .animate{
                padding: 0 10px;
                @include transition;
            }
        }
    }
  }

  a , a:visited{
    text-decoration: none;
    color: #66757F;
    font-size: 0.9em;

  }

  nav {
    line-height: 90px;
    font-size: 1.4em;

    a:hover{
      color: $header-bg;
    }
  }

}

#header-desktop.minimized {
  height: 60px;
  -webkit-transition: all 0.3s;

  .flexsearch-box{
      top: 60px;
    }

  nav {
    font-size: 1.2em;
    line-height: 60px;
  }
  .brand{
    line-height: 90px;
    width: 5%;
  }

  .header-container{
      height: 60px;
  }

}

#header-mobile{
    @media(min-width: 1024px) {
        display: none;
    }
  	margin: O;
  	overflow: hidden;
  	position: relative;


    header {
      	background-color: #FFFFFF;
      	box-shadow: 0 1px 0 rgba(0,0,0,.2);
      	height: 50px;
    }

    .logo {
      	font-size: 20px;
      	line-height: 65px;
      	padding: 0 0 0 20px;
      	text-transform: capitalize;

        img{
            width: 40px;
            height: auto;
        }
    }

    .menuBtn {
        height: 30px;
        width: 30px;
        position: absolute;
        right: 20px;
        top: 10px;
        z-index: 101;

        > span {
        		background-color: $header-bg;
        		border-radius: 1px;
        		height: 2px;
        		width: 100%;
        		position: absolute;
        		left: 50%;
        		top: 50%;
        		margin: -1px 0 0 -15px;
        		transition: height 100ms;

            &:after, &:before {
          			content: '';
          			background-color: $header-bg;
          			border-radius: 1px;
          			height: 2px;
          			width: 100%;
          			position: absolute;
          			left: 50%;
          			margin-left: -15px;
          			transition: all 200ms;
		       }
      		&:after {
      			top: -7px;
      		}
      		&:before {
      			bottom: -7px;
      		}
       }

       &.act {
           > span {
                 height: 0;
                 &:after, &:before {
                   background-color: $header-bg;
                   top: 1px;
                 }
                 &:after {
                   transform: rotate(45deg);
                 }
                 &:before {
                   transform: rotate(-45deg);
                 }
           }
       }
   }

   .mainMenu {
      	background-color: #fff;
      	position: absolute;
      	left: 0;
      	top: 0;
      	z-index: 100;
      	height: 100%;
      	width: 100%;
      	display: table;
      	text-align: center;
      	opacity: 0;
      	transition: all 500ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
      	transform: scale(0);

        &.act {
        		opacity: 1;
        		transform: scale(1);
        		ul li {
            		opacity: 1;
            		transform: translateX(0);
	         }
        }

        ul {
        		display: table-cell;
        		vertical-align: middle;
         }
         li {
          		padding: 10px 0;
          		transition: all 400ms 510ms;
          		opacity: 0;
          		&:nth-child(odd) {
          			transform: translateX(30%);
          		}
          		&:nth-child(even) {
          			transform: translateX(-30%);
          		}
          		&:last-child {
          			transform: none;
          		}
        	}

          a {
          		color: $header-bg;
              font-family: 'Didact Gothic', sans-serif;
              font-weight: bold;
          		display: inline-block;
          		font-size: 18px;
          		&.suBtn {
          			color: #fff;
          		}
           }

         }
         .suBtn {
          	background-color: #19b698;
          	border-radius: 5px;
          	padding: 10px 20px;
          }













}
