@keyframes anim-1 {
	0%, 8.3% { left: -100%; display: none; }
  8.3%,25% { left: 25%; opacity: 1; }
  33.33%, 100% { left: 110%; display: none; }
}

@keyframes anim-2 {
	0%, 33.33% { left: -100%; display: none; }
  41.63%, 58.29% { left: 25%; opacity: 1; }
  66.66%, 100% { left: 110%; display: none; }
}

@keyframes anim-3 {
	0%, 66.66% { left: -100%; display: none; }
  74.96%, 91.62% { left: 25%; opacity: 1; }
  100% { left: 110%; display: none; }
}

@keyframes material-design__image {
  0% {
    opacity: 0;
    filter: saturate(20%) brightness(125%);
  }
  66.7% {
    opacity: 1;
  }
  83.3% {
    filter: saturate(87%) brightness(100%);
  }
  100% {
    filter: saturate(100%) brightness(100%);
  }
}
