@mixin flex_trinity($direction, $content) {
    display: flex;
    flex-direction: $direction;
    justify-content: $content;
    flex-wrap: wrap;
}

@mixin transition{
  -webkit-transition:0.3s ease;
  -moz-transition:0.3s ease;
  -o-transition:0.3s ease;
  -ms-transition:0.3s ease;
  transition:0.3s ease;
}
