
// Body
$body-bg: #FFFFFF;
//$header-bg: #39B54A;
$header-bg: #246188;
$header-color: #FFFFFF;
$header-color-hover: #FFFFFF;

$article-content-color: #5E5E5E;
$header-height: 90px;

$content-width: 80%;
$breakpoint: 800px;



$abs:absolute;
$rel:relative;
