
// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");
@import url("https://fonts.googleapis.com/css?family=Karla");
@import url("https://fonts.googleapis.com/css?family=Ubuntu:300");

// Variables
@import "variables";
@import "keyframes";
@import "fonts";
@import "mixin";
@import "header";

//css awesome
@import "node_modules/font-awesome/scss/font-awesome.scss";


@media screen {

  body {
    margin: 0px;
    background-color: $body-bg;
  }

  p, ul {
    margin: 0px;
    padding: 0px;
  }

  li {
    list-style: none;
  }

  a {
    text-decoration: none;
  }

  .none{
    display: none;
  }

  .help-block, .success-block{
    font-size: 0.8em;
    font-weight: normal;
    margin-top: 0px;
  }

  .success-block{
    color: $header-bg;
  }

  .help-block{
    color: red;
  }

  .container{
    background-color: $body-bg;

    .content{
      padding: 0;
      min-height: 500px;

      @media(min-width: 1024px) {
          padding: $header-height 0;
          min-height: 600px;
      }

      .cover-title{
          color: #555;
          font-family: 'Ubuntu Condensed', sans-serif;
          font-size: 1.2em;
          padding: 5px;
      }

      input {
        box-sizing: border-box;
        display: block;
        width: 100%;
        border-width: 1px;
        border-style: solid;
        padding: 16px;
        outline: 0;
        font-family: inherit;
        font-size: 1.2em;
      }

      input[type="text"], input[type="email"], input[type="password"] {
        background: #fff;
        border-color: #bbb;
        color: #555;

        &:focus {
          border-color: #888;
        }
      }

      input[type="submit"]{
        color: $header-bg;
        text-transform: uppercase;
        font-family: 'Ubuntu Condensed', sans-serif;
      }

      input[type="file"]{
        background: #fff;
        border-color: #bbb;
        color: #555;
        margin-bottom: 10px;

        &:focus {
          border-color: #888;
        }
      }

      .input-radio{

          margin: 10px 0;
          @media(min-width: 768px) {
              width: 5%;
          }

      }

      .text-center { text-align: center; }

      .padding-tb { padding-top: 1.6rem; padding-bottom: 1.6rem;}

      .shadowDepth0 { box-shadow: 0 1px 3px rgba(0,0,0, 0.12); }



      .show-article-page{
          width: 100%;
          margin: 0;
          background: #FFFFFF;
          padding: 5px 0;
          font-family: 'Didact Gothic', sans-serif;


          .box{
              width: 96%;
              margin: auto;
              @media(min-width: 768px) {
                  width: 80%;
                  margin: auto;
                  @include flex_trinity(row, space-between);
              }
              .article-not-found{
                  text-align: center;
                  color: $article-content-color;
                  font-weight: bold;
              }
              .show-article-page-box{
                  width: 100%;
                  @media(min-width: 768px) {
                      width: 81%;
                  }


                  .comments-box{
                      width: 100%;

                      .p{
                          padding: 8px 0;
                          border-bottom: 2px solid $header-bg;
                      }

                      .available-coms{
                          padding: 8px 0;

                          .username{
                              color: $header-bg;
                          }
                          .comment{
                              padding-left: 15px;
                          }
                      }

                      .form-box{
                          width: 90%;
                          margin: auto;
                          padding: 10px 0;

                          textarea{
                              width: 100%;
                              background: #fff;
                              height: 150px;
                              border-color: #bbb;
                              color: #555;
                              box-sizing: border-box;
                              display: block;
                              width: 100%;
                              border-width: 1px;
                              border-style: solid;
                              padding: 16px;
                              outline: 0;
                              font-family: inherit;
                              font-size: 1.2em;
                          }
                      }
                  }

                  .article{
                      width: 100%;

                      .title{
                          width: 100%;
                          font-size: 1.7em;
                          padding-bottom: 5px;
                          font-weight: bold;
                          color: #474949;
                          text-align: center;
                      }

                      .img{
                          width: 100%;
                          padding: 10px 0;
                          @media(min-width: 768px) {
                              width: 70%;
                              margin: auto;

                          }
                          img{
                              width: 100%;
                              animation: material-design__image 1s;
                              animation-fill-mode: forward;
                          }
                      }

                      .extras{
                          color: $article-content-color;
                          font-size: 0.8em;
                          text-align: center;
                          padding: 8px 0;

                          span{
                              padding: 0 5px;

                              i{
                                  color: $article-content-color;
                              }
                          }
                      }

                      .icons-div{
                        width: 20%;
                        margin: auto;
                        @include flex_trinity(row, space-around);
                        padding-top: 15px;

                        div{
                            i{
                                border: 2px solid $header-bg;
                                width: 25px;
                                height: 25px;
                                border-radius: 50%;
                                text-align: center;
                                line-height: 25px;
                            }

                            .fa-twitter{
                                border: 2px solid #4AB3F4;
                            }
                            .fa-facebook{
                                border: 2px solid #4267B2;
                            }

                        }



                      }



                      .body{
                          width: 100%;
                          line-height: 160%;
                          font-size: 1.2em;
                          color: $article-content-color;

                          a, a:visited{
                              color: $header-bg;
                          }

                          img{
                              width: 70% !important;
                              margin-left:15% !important;
                              padding: 10px 0 !important;

                          }
                      }
                  }
              }

              .article-resume-sidebar{
                    display: none;
                    @media(min-width: 768px) {
                        width: 18%;
                        display: block;
                    }

                    .read-too{
                        color: $header-bg;
                        font-size: 1.3em;
                        text-align: center;
                    }

                    .other-articles{
                        width: 100%;

                        .article{
                            width: 90%;
                            margin: auto;
                            padding-bottom: 10px;
                            color: $article-content-color;


                            .img{
                                width: 100%;
                                img{
                                    width: 100%;
                                    animation: material-design__image 1s;
                                    animation-fill-mode: forward;
                                }
                            }
                            .article-title{
                                width: 100%;
                                a, a:visited{
                                    color: $article-content-color;
                                    &:hover{
                                        color: $header-bg;
                                    }
                                }
                            }

                            .article-extras{
                                font-size: 0.8em;
                            }
                        }
                    }
              }


          }
      }

      .about-page{
          width: 96%;
          margin: auto;
          padding: 20px 0;

          @media(min-width: 768px) {
              width: 50%;
              margin: auto;
          }
          .img-about{
              width: 50%;
              margin: auto;
              padding-bottom: 20px;

              img{
                  width: 100%;

              }
          }
          .about-content{
              line-height: 150%;
              font-size: 1.1em;
              text-align: center;
              color: $article-content-color;
              font-family: 'Didact Gothic', sans-serif;

              p{
                  a, a:visited{
                      color: $header-bg;
                  }
              }

          }
      }

      .contact-page{
          width: 100%;
          margin: 0;


          .form-box{
              width: 96%;
              margin: auto;
              font-family: 'Didact Gothic', sans-serif;
              padding: 20px 0;

              @media(min-width: 768px) {
                  width: 50%;
                  margin: auto;
              }




              .contact{
                  text-align: center;
                  color: #474949;
                  font-size: 2em;
              }



              textarea{
                  width: 100%;
                  background: #fff;
                  height: 150px;
                  border-color: #bbb;
                  color: #555;
                  box-sizing: border-box;
                  display: block;
                  width: 100%;
                  border-width: 1px;
                  border-style: solid;
                  padding: 16px;
                  outline: 0;
                  font-family: inherit;
                  font-size: 1.2em;
              }

          }
      }

      .home-page{
          width: 100%;
          margin: 0;

          .profile-box{
              width: 96%;
              margin: auto;
              font-family: 'Ubuntu Condensed', sans-serif;
              padding: 10px 0;
              @media(min-width: 768px) {
                  width: 80%;
              }

              .informations{
                  text-align: center;
                  color: #474949;
                  font-size: 1.3em;
              }

              .user-form-box{
                @media(min-width: 768px) {
                    width: 50%;
                    margin: auto;
                }

                .box{
                    padding: 10px 0;

                    .carrefull{
                        font-size: 0.8em;
                        color: $article-content-color;
                    }
                }
              }




          }


          .home-page-box{
              @include flex_trinity(row, space-between);
              width: 96%;
              margin: auto;
              padding:0;

              @media(min-width: 768px) {
                  width: 80%;
              }

              .results-search, .nothing{
                  width: 100%;
                  padding: 10px 0;
                  text-align: center;
                  color: $article-content-color;

                  @media(min-width: 768px) {
                      width: 79%;
                  }

              }

              .articles-resumes{

                  @media(min-width: 768px) {
                      width: 81%;
                      @include flex_trinity(row, space-between);
                  }



                  .resumes{
                      background: $body-bg;
                      margin-top: 20px;
                      //padding: 5px;

                      .pagination{
                          @include flex_trinity(row, space-between);
                          width: 10%;
                          margin: auto;

                      }
                      .hr{
                          border: 1px solid #D9D9D9;
                          margin-top: 5px;
                          margin-bottom: 5px;
                          width: 100%;
                      }
                      .recents-articles{
                          width: 100%;
                          height: auto;
                          background: #FFFFFF;


                          @include flex_trinity(row, space-between);


                          .img{
                              width: 20%;

                              img{
                                  max-width: 100%;
                                  height: auto;
                                  animation: material-design__image 3s;
                                  animation-fill-mode: forward;
                              }
                          }

                          .content-recents-articles{
                              width: 79%;

                              @include flex_trinity(column, space-around);
                              color: $article-content-color;
                              font-family: 'Didact Gothic', sans-serif;

                              .title-bis{
                                  font-weight: bold;
                                   width: 100%;
                                  font-size: 1.3em;
                                  a , a:visited{
                                      color: #474949;
                                      &:hover{
                                          color: $header-bg;
                                      }
                                  }
                              }

                              .body-bis{
                                  display: none;
                                  line-height: 150%;
                                  a, a:visited{
                                      color: $header-bg;
                                  }
                                  @media(min-width: 768px) {
                                      display: block;
                                  }

                                  img{
                                      display: none;
                                  }
                              }

                              .author-date{
                                  width: 100%;
                                  font-size: 0.8em;
                                  display: none;
                                  @media(min-width: 768px) {
                                      display: block;
                                  }
                              }

                              .read-more{
                                  width: 100%;
                                  text-align: center;


                                  a, a:visited {
                                      padding: 5px;
                                      border-radius: 10px;
                                      color: $header-bg;
                                  }

                              }
                          }
                      }
                  }

                  .top-week{
                      width: 100%;
                      margin: auto;
                      background: #FFFFFF;

                      @media(min-width: 1024px) {
                          @include flex_trinity(row, space-between);
                      }

                      .img{
                          width: 100%;
                          height: auto;

                          @media(min-width: 1024px) {
                              width: 50%;
                          }

                          img{
                              width: 100%;
                              height: auto;
                              animation: material-design__image 1s;
                              animation-fill-mode: forward;
                          }

                      }
                      .content-article{
                          width: 100%;
                          color: $article-content-color;
                          font-family: 'Didact Gothic', sans-serif;

                          @media(min-width: 1024px) {
                              width: 49%;
                              @include flex_trinity(column, space-between);
                          }
                          .title{
                              width: 100%;
                              font-size: 2em;
                              padding: 5px 0;
                              font-weight: bold;
                              a , a:visited{
                                  color: #474949;
                                  &:hover{
                                      color: $header-bg;
                                  }
                              }
                          }
                          .body{
                              width: 100%;
                              line-height: 150%;

                              img{
                                  display: none;
                              }
                              a, a:visited{
                                  color: $header-bg;
                              }

                          }
                          .others{
                              @include flex_trinity(row, space-between);
                              padding: 10px 0;

                              .author-date{
                                  width: 100%;
                                  font-size: 0.8em;
                                  display: none;

                                  @media(min-width: 768px) {
                                      display: block;
                                  }
                              }

                              .stats{
                                    width: 50%;

                                    span{
                                        padding: 0 5px;
                                        width: 25px;
                                        height: 25px;
                                        line-height: 25px;
                                        color: $article-content-color;
                                    }
                              }
                              .share-icons{
                                  width: 40%;
                                  @include flex_trinity(row, space-around);
                                  div{
                                      width: 25%;
                                      i{
                                          border: 2px solid $header-bg;
                                          width: 25px;
                                          height: 25px;
                                          border-radius: 50%;
                                          text-align: center;
                                          line-height: 25px;
                                      }

                                      .fa-twitter{
                                          border: 2px solid #4AB3F4;
                                      }
                                      .fa-facebook{
                                          border: 2px solid #4267B2;
                                      }

                                  }

                              }
                          }
                      }
                  }
              }

              .article-resume-sidebar{
                    display: none;
                    @media(min-width: 768px) {
                        width: 18%;
                        display: block;
                    }
                    font-family: 'Didact Gothic', sans-serif;


                    .read-too{
                        color: $header-bg;
                        font-size: 1.3em;
                        text-align: center;
                    }

                    .other-articles{
                        width: 100%;

                        .article{
                            width: 90%;
                            margin: auto;
                            padding-bottom: 10px;
                            color: $article-content-color;


                            .img{
                                width: 100%;
                                img{
                                    width: 100%;
                                    animation: material-design__image 1s;
                                    animation-fill-mode: forward;
                                }
                            }
                            .article-title{
                                width: 100%;
                                a, a:visited{
                                    color: $article-content-color;
                                    &:hover{
                                        color: $header-bg;
                                    }
                                }
                            }

                            .article-extras{
                                font-size: 0.8em;
                            }
                        }
                    }
              }
          }










      }

      .admin-dashboard{
          width: 100%;
          margin: 0;

          @media(min-width: 1024px) {
              @include flex_trinity(row, space-between);
          }

          .admin-sidebar{
              width: 100%;
              background: $header-bg;
              box-shadow: inset 0px 0px 40px -15px;
              font-size: 1.2em;
              font-family: 'Ubuntu Condensed', sans-serif;
              font-weight: bold;

              overflow: hidden;
              @media(min-width: 768px) {
                  width: 17%;
                  min-height: 500px !important;
              }



              ul{
                  li{
                      margin-bottom: 1px;

                      a{
                          color: #FFFFFF;
                          line-height: $header-height;
                          padding: 5px 15px;
                      }

                      &:hover{
                          border-left: 3px solid $body-bg;
                          a{
                            color: #FFFFFF !important;
                          }
                      }

                  }

                  .dashboard-title{
                      background: $body-bg;
                      color: $header-bg;
                      text-transform: uppercase;
                      border-right: 1px solid $header-bg;

                      a{
                          color: $header-bg;
                      }

                      &:hover{
                          a{
                            color: $header-bg !important;
                          }
                      }
                  }
              }
          }

          .admin-box{
              width: 100%;
              @media(min-width: 768px) {
                  width: 80.7%;
              }

              .articles-form-box{
                width: 100%;
                h1{
                    font-size: 30px;
                    color: $header-bg;
                    text-transform: uppercase;
                    font-weight: 300;
                    text-align: center;
                    margin-bottom: 15px;
                }
              }

              .users-box{
                  width: 100%;
                  h1{
                      font-size: 30px;
                      color: $header-bg;
                      text-transform: uppercase;
                      font-weight: 300;
                      text-align: center;
                      margin-bottom: 15px;
                  }

                  .pagination{
                      @include flex_trinity(row, space-between);
                      width: 10%;
                      margin: auto;
                  }

                  table{
                      width:100%;
                      table-layout: fixed;

                      th{
                          padding: 20px 15px;
                          text-align: left;
                          font-weight: 500;
                          font-size: 12px;
                          color: $header-bg;
                          text-transform: uppercase;
                      }

                      .status{
                          text-align: center;

                          a, a:visited{
                            color: black;
                          }
                      }

                      .remove{
                        color: red;
                      }

                      td{
                          padding: 15px;
                          text-align: left;
                          vertical-align:middle;
                          font-weight: 300;
                          font-size: 12px;
                          color: #000;
                          border-bottom: solid 1px rgba(255,255,255,0.1);


                          form{
                            width: 100%;

                            input {
                              box-sizing: border-box;
                              display: block;
                              background: $body-bg;
                              width: 100%;
                              border-width: 1px;
                              border-style: solid;
                              outline: 0;
                              font-family: inherit;
                              font-size: 12px;
                            }

                            input[type="submit"]{
                              color: red;
                              text-transform: uppercase;
                              font-family: 'Ubuntu Condensed', sans-serif;
                            }
                          }
                      }
                  }

                  .tbl-header{
                      background-color: rgba(255,255,255,0.3);
                  }

                  .tbl-content{
                      overflow-x:auto;
                      margin-top: 0px;
                      border: 1px solid rgba(255,255,255,0.3);
                  }
              }
          }


      }

      .reglog{
          width: 100%;


          .reglog-box{
            width: 100%;
            margin: 2% auto;
            font-size: 16px;

            @media(min-width: 768px) {
                width: 70%;
            }

            @media(min-width: 1024px) {
                width: 50%;
            }

            p{
              margin-top: 0;
              margin-bottom: 0;
              padding: 12px;
            }




            .reglog-header{
              padding: 20px;
              font-size: 1.4em;
              font-weight: normal;
              text-align: center;
              text-transform: uppercase;
              color: #fff;
              margin-top: 0;
              color: $header-bg;
              border-bottom: 2px solid $header-bg;
            }

            .reglog-triangle {
              width: 0;
              margin-right: auto;
              margin-left: auto;
              border: 12px solid transparent;
            }

            .reglog-other{
              line-height: 0%;
              text-align: center;
              font-family: 'Ubuntu Condensed', sans-serif;
              a{
                color: $header-bg;
              }


            }

            .reglog-container {
              background: #ebebeb;
              padding: 12px;

              .g-recaptcha{
                  padding-left: 10px;
              }

            }
          }




      }

    }

    footer{

        .footer-box{
            width: 100%;
            background: #FEFEFE;
            font-family: 'Didact Gothic', sans-serif;
            color: #AAAAAA;
            padding: 10px 0;

            div{
                width: 100%;
                text-align: center;
                padding: 5px 0;
            }
        }
    }


  }
 }
